.chat-users {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: white;
}

.chat-text {
    background-color:white;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.chat-size {
    border: solid 1px;
    height: 94%;
}

.message-area {
	height:95%;
}

.send {
    height:5%;
}

.writing-area {
	height:5%;
	border-top: solid 1px;
	width:90%;
}